html {
    font-size: 16px;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
h1 {
    font-size: 4rem;
}

p {
    font-size: 1.5rem;
}
